
/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of the scrollbar for horizontal scrollbars */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 10px; */
}

/* Handle (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader:after{
  content:"";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff3d00;
}

@keyframes skLinRotate {
  95% ,100% { transform: rotate(840deg) }
}